.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid navy;
    position: relative;
    top: 10px;
    display: none;
}
.date-display:hover .arrow-down{
    display: inline;
}
.wrapper{
    overflow: hidden;
    height: 100%;
}
.header{
	background-color: lightblue;
    display: block;
    width: 100%;
    overflow: hidden;
    float:left;
}
h2{
	font-size: 15px;
    padding: 5px;
    float: left;
    margin: 5px;
    font-weight: 300;
}
.pii,
.address {
    padding: 10px;
}
.date,
.label {
    font-weight: 700;
}
.description{
	overflow: hidden;
}
.row-label{
    width: 50%;
    display: inline-block;
}
.row-balance{
    float: right;
}
.row-num{
    width:10%;
    text-align: center;
    display: inline-block;
}
.invoice-row{
    padding: 2px 5px;
}
.left{
    float:left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.customer-stats,
.customer-record{
    width: 50%;
    float: left;
}
.customer-record .description{
    border-right: 1px solid lightgrey;
}
.customer-stats .label{
    margin: 15px 0;
}
.contact-list{
    margin-top: 10px;
}
.contact-list div{
    display: inline-block;
    float: left;
}
.contact-list > div {
    display: block;
    float: none;
    padding: 5px;
    overflow: hidden;
}
.contact-list > div:nth-child(2n) {
    background-color: lightgrey;
}
.contact-list .action{
    width: 20%;
}
.contact-list .name{
    width: 40%;
}
.contact-list .address{
    width: 40%;
    padding: 0;
}
textarea#add-note-area {
    margin: 5%;
    width: 90%;
    height: 60%;
}
div#add-note-body{
    width: 100%;
    height: 100%;
    display: none;
    padding: 15px;
}
div.button {
    float: right;
    margin: 0 10%;
    padding: 5px 20px;
    background-color: greenyellow;
    border: 1px solid grey;
    cursor: pointer;
}
div.button.view-statement{
    background-color: navy;
    color: white;
    margin: 10px 0;
}
.bottom,
.top{
    height: 50%; 
}
#invoice-graph .label{
    margin: 0px;
}
.left .description,
.stat-body{
    overflow-y: scroll; 
    height: 100%
}
.stat-body{
    padding:0 5%;
}
.add-note,
.edit-icon{
	float: right;
}
.contact-list .edit-icon{
    float: left;
    margin-right: 5px;
}
.note {
    margin: 15 0 0 15;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
#total-balance{
    float: right;
}
.note .info{
	float:left;
}
.note .note-icons{
	float:right;
    margin-right: 25px;
}
.note .comment {
    padding-top: 10px;
}
.note .view-document{
	margin-right: 25px;
}
#contact-table{
    display: none;
}
.customer-notes{
    height: 100%;
}
#customer-notes-body{
    overflow-y: scroll;
    height: 95%; 
    float: left;
}
span.label.timestamp {
    margin-left: 5%;
}
div#company-name {
    margin: 10px;
}
select#company-select{
    margin-left: 5%;
}
.table{
    overflow-y: scroll;
    height: 100%;
    float: left;
    width: 100%;
}
.date-display{
    padding: 10px;
    cursor: pointer;
}
.date-wrapper{
    position: relative;
    top: 5px;
}
input{
    display: block;
    width: 100%;
}
div.stat-group{
    margin:10px 0;
}
.change-date-display {
    border: 1px solid grey;
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
}
.none{
    display: none;
}
.time-span .view-document.icon{
    margin-right: 5px;
}
a:hover{
    font-weight: 700;
    cursor: pointer;
}
.calendar-icon{
    float: left;
}
/*icons*/
.add-note:after{
	content: url('./icons/icon-add-5.png');
}
.view-document:after{
	content: url('./icons/icon-view-document.png');
}
.icon.delete-icon:after{
	content: "";
    width: 16px;
    height: 16px;
    background: transparent url("./icons/icon-delete-2.png") 0px 0px;
    display: inline-block;
}
.action .icon.edit-icon:after{
    top:0;
    right:0;
    margin-right: 2px;
}
.icon.delete-icon:hover:after{
    background: transparent url("./icons/icon-delete-2.png") -16px 0px;
}
.edit-icon:after{
    content: url('./icons/icon-edit-4.png');
}
.icon.calendar-icon:after{
    content: url('./icons/icon-calendar.png');
    top: 0;
    right: 0;
    margin-right: 5px;
}
.mail-icon.icon:after{
    content: url('./icons/icon-send-2.png');
    top: 0;
    right: 0;
}
.icon:after{
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.time-span .view-document.icon:after{
    top: 0;
    left: 5px;
}